<h1>Shoutout Activities</h1>

<form id="add-shoutout-activity" name="add-shoutout-activity" method="post" action="/dashboard/admin/shoutout/activities">
    <label for="activityname">New Activity</label>
    <input class="text" name="activityname" placeholder="Activity Name" type="text" />
    <input class="btn" type="submit" value="Add" />
</form>

<p><strong>Available activities:</strong></p>
<% if(activities.length > 0) { %>
<ul>
    <% activities.forEach(function(activity){ %>
        <li>
            <%= activity.name %>
        </li>
    <% }); %>
</ul>
<% }  else { %>
No activities added yet.
<% } %>