<h1>Accounts</h1>

Adding accounts is for influencers only, you do not need to add an account to buy shoutouts or tweets.

<h2>Instagram</h2>
<a href="/dashboard/accounts/add/instagram"><button>Add Instagram Account</button></a>
<p>Your linked accounts:</p>

<h2>Twitter</h2>
<a href="/dashboard/accounts/add/twitter"><button>Add Twitter Account</button></a>

<p><strong>Your Linked Accounts:</strong></p>
<% if(twitterAccounts.length > 0) { %>
<ul>
    <% twitterAccounts.forEach(function(twitter){ %>
        <li>
            <%= twitter.username %> - <a href="/dashboard/accounts/manage/twitter/<%= twitter.id %>"><button>Manage</button></a>
        </li>
    <% }); %>
</ul>
<% }  else { %>
You have no linked accounts.
<% } %>