<!DOCTYPE html>
<html>

    <head>
        <title>Passport with Sequelize</title>
    </head>

    <body>
        <h2>Dashboard</h2>
        <h5>Hurray! you are logged in.</h5>

        <a href="/admin"><button>Admin</button></a>
        <a href="/shoutouts"><button>Shoutouts</button></a>

        <p>
            <% if(currentUser.stripe_user_id !== null) { %>
                Connected to Stripe: <%= currentUser.stripe_user_id %>
            <% } else { %>
                <a href="<%= redirectUri %>">Connect to Stripe</a>
            <% } %>
        </p>

        <a href="/dashboard/accounts"><button>My Accounts</button></a>
    </body>

</html>