<h1>Shoutout Countries</h1>

<form id="add-shoutout-country" name="add-shoutout-country" method="post" action="/dashboard/admin/shoutout/countries">
    <label for="countryname">New Country</label>
    <input class="text" name="countryname" placeholder="Country Name" type="text" />
    <input class="btn" type="submit" value="Add" />
</form>

<p><strong>Available countries:</strong></p>
<% if(countries.length > 0) { %>
<ul>
    <% countries.forEach(function(country){ %>
        <li>
            <%= country.name %>
        </li>
    <% }); %>
</ul>
<% }  else { %>
No countries added yet.
<% } %>