<h1>Shoutout Ages</h1>

<form id="add-shoutout-age" name="add-shoutout-age" method="post" action="/dashboard/admin/shoutout/ages">
    <label for="agename">New Age</label>
    <input class="text" name="agename" placeholder="Age Name" type="text" />
    <input class="btn" type="submit" value="Add" />
</form>

<p><strong>Available ages:</strong></p>
<% if(ages.length > 0) { %>
<ul>
    <% ages.forEach(function(age){ %>
        <li>
            <%= age.name %>
        </li>
    <% }); %>
</ul>
<% }  else { %>
No ages added yet.
<% } %>