<div id="footer">

    <div id="footer-left">

        <span class="footer-title">Navigation</span>

        <div id="footer-col1">
            <a href="/twitter">Twitter</a>
            <br>
            <a href="/instagram">Instagram</a>
            <br>
            <a href="/facebook">Facebook</a>
            <br>
            <a href="/youtube">Youtube</a>
        </div>

        <div id="footer-col2">
            <a href="/">Home</a>
            <br>
            <a href="/free-followers">Free Followers</a>
            <br>
            <a href="/faq">FAQ</a>
            <br>
            <a href="/contact">Contact</a>
        </div>

    </div>

    <div id="footer-right">

        <span class="footer-title">Terms and Privacy</span>

        <p class="footer-p">We are not affiliated with Twitter, Instagram, or Facebook. The Twitter logo, the Instagram logo, and the Facebook
            logo are all registered trademarks of their respective owners. By using Social-Celebrity.com, you agree to our
            <a href="/terms">Terms</a> and our
            <a href="/privacy">Privacy Policy.</a>
        </p>

    </div>

    <div id="copyright">Copyright 2017 Social-Celebrity.com. All rights reserved.</div>

</div>
<!-- footer -->

