<h1>Add Twitter Account</h1>


<p>Don't forget to set your account public!</p>

<form id="addtwitteraccount" name="addtwitteraccount" method="post" action="/dashboard/accounts/add/twitter">
    <label for="username">Twitter Username</label>
    <input class="text" name="username" type="text" />
    <input class="btn" type="submit" value="Find" />
</form>