<% include ../partials/header %>

<div id="container-bg">

	<div id="container2">

		<% include ../partials/twitter/header %>

		<div id="pricing-code" class="pricing-code" style="margin-top: 26px;">
				<form class="order" role="form" action="" method="post">
					<div class="form-section">
						<h3>Twitter Followers: <span class="quantity">2,500</span> <span class="align-right price-container"><span class="price">$60</span> <span class="discount">(40% discount)</span></span></h3>
						<input class="quantity" type="hidden" name="data[quantity]" value="2500">
						<div class="quantity-slider recurringfix ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span></div>
					</div>
					<div class="form-section">
						<h3>Twitter Profile URL</h3>
						<input type="text" name="data[url]" placeholder="Enter your Twitter profile link" value="">
					</div>
					<% include ../partials/form-payment %>
				</form>
		</div><!-- pricing code -->

		<% include ../partials/partners %>

		<div id="home-divider"></div>

		<div id="faq-spacer"></div>

			 <div id="leftpage">

		     	<div id="faqbox">
		     		<h3>Will these Twitter followers come in all at once or over time?</h3>
		     		<p>The Twitter followers we help you acquire will come in slowly over time; they will not all appear overnight like some of our competitors. Smaller orders
		     		will complete much quicker than larger orders, however; 250 followers could be completed in less than a week, for example.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Can I control what country these are from or what interests these followers have?</h3>
		     		<p>Currently, we only have USA targeted followers and Worldwide targeted followers. If you'd like to target towards users in the United States, use the
		     		navigation in the top bar to see our pricing for USA-only Twitter followers.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Are these services safe for my profile?</h3>
		     		<p>Our services are perfectly safe for your Twitter profile. Twitter doesn't ban profiles that purchase Twitter followers; if they did, it would be easy
			        to get all of your competitors banned by buying followers, and this is something Twitter has taken into consideration. We haven't had a single client get
			        banned from buying our Twitter marketing services, so you can buy with confidence.
		     		</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>How many followers should I buy?</h3>
		     		<p>Generally speaking, its easier to get Twitter followers than it is to get Facebook likes or Instagram followers, so people tend to have a higher number
		     		of Twitter followers than the rest of their profiles. For this reason, its not uncommon to have tens of thousands, or even hundreds of thousands of followers.
		     		There's no right or wrong number of followers; the only way you could go wrong is if you have a small local business. If you live in a town with 50,000 people
		     		and run a bakery, and your bakery profile page has 100,000 followers, it would look extremely fishy. Use your best judgement and select a campaign that
		     		best suits your business and budget.
		     		</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Will these followers stay and are they guaranteed?</h3>
		     		<p>Yes, our Twitter follower services are guaranteed for life. In the rare event that any of your followers "unfollow" your profile, we'll restore them free
		     		of charge. The Twitter followers we help you acquire will have the highest retention rate out of any followers in the industry.
		     		</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Will any of the followers I receive be "egg" accounts?</h3>
		     		<p>No; we go out of our way to avoid marketing to low quality Twitter users. However, we can't guarantee that you will receive zero of these types of followers,
		     		as ultimately, anybody who wants to follow your profile will follow it. The large majority of your followers will be complete profiles.
		     		</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Will these help me get a verified account?</h3>
		     		<p>Many of our customers have used our services to grow their account and later go on to become verified. You'll need a strong following to become Twitter
		     		verified, and we are a quick solution to that. We can't guarantee that you'll become verified, as ultimately, this is Twitter's decision. However, it will
		     		help you get closer to becoming approved.
		     		</p>
		     	</div>


	     </div>

		 <div id="rightpage">
				<% include ../partials/scrolling-sidebar %>
			</div>
		</div>
		<!-- container2 -->

</div><!-- container bg -->

<% include ../partials/footer %>

<!-- FORM SLIDER -->
<% include ../partials/pricing-slider-deps %>
<script type="text/javascript">
		var sliderValues = [1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2650, 2700, 2750, 2800, 2850, 2900, 2950, 3000, 3050, 3100, 3150, 3200, 3250, 3300, 3350, 3400, 3450, 3500, 3550, 3600, 3650, 3700, 3750, 3800, 3850, 3900, 3950, 4000, 4050, 4100, 4150, 4200, 4250, 4300, 4350, 4400, 4450, 4500, 4550, 4600, 4650, 4700, 4750, 4800, 4850, 4900, 4950, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000, 130000, 140000, 150000, 160000, 170000, 180000, 190000, 200000, 210000, 220000, 230000, 240000, 250000, 260000, 270000, 280000, 290000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 410000, 420000, 430000, 440000, 450000, 460000, 470000, 480000, 490000, 500000];
		var discountValues = [ {quantity: 250, discount: 0.02}, {quantity: 1000, discount: 0.35}, {quantity: 2500, discount: 0.4}, {quantity: 5000, discount: 0.45}, {quantity: 10000, discount: 0.58}, {quantity: 25000, discount: 0.75}, {quantity: 50000, discount: 0.78}, {quantity: 100000, discount: 0.84}, {quantity: 250000, discount: 0.87}, {quantity: 500000, discount: 0.88}, {quantity: 1000000, discount: 0.9}];
		var defaultQuantity = 30;
		var price = 0.04;

		var itemName = "Twitter Followers";
		var itemDescription = "Followers";
		var category = "twitter";
		SLIDER.init([sliderValues, discountValues, defaultQuantity, price, itemName, itemDescription, category]);
		SLIDER.create();
</script>

<% include ../partials/payment-radio-controller %>
<% include ../partials/stripe-checkout %>
<% include ../partials/braintree-checkout %>

<% include ../partials/sticky-sidebar-deps %>
<% include ../partials/autolikes-banner-script %>

</body>
</html>