<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#"><head profile="http://gmpg.org/xfn/11"><script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.lZBn4NIOdGs.O/m=auth/exm=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCOGwkNsBSSA25rPuH1j0eoh1CEO4Q/cb=gapi.loaded_1" async=""></script><script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.lZBn4NIOdGs.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCOGwkNsBSSA25rPuH1j0eoh1CEO4Q/cb=gapi.loaded_0" async=""></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



<link rel="icon" href="http://follows.com/blog/wp-content/uploads/2015/11/favicon.png" type="image/png">

<link href="http://follows.com/blog/wp-content/themes/follows/resources/bootstrap/css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" href="http://follows.com/blog/wp-content/themes/follows/style.css" type="text/css" media="screen">
<link rel="alternate" type="application/rss+xml" title="Follows.com RSS Feed" href="http://follows.com/blog/feed">
<link rel="alternate" type="application/atom+xml" title="Follows.com Atom Feed" href="http://follows.com/blog/feed/atom">
<link rel="pingback" href="http://follows.com/blog/xmlrpc.php">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="inc/style.css" rel="stylesheet" type="text/css">




<!-- This site is optimized with the Yoast SEO plugin v5.3.3 - https://yoast.com/wordpress/plugins/seo/ -->
<title>Social Media Marketing and Help Articles -</title>
<meta name="description" content="Learn how to get the most out of your Twitter profile, as well as grow and maintain your Instagram and Facebook pages.">
<link rel="canonical" href="http://follows.com/blog">
<link rel="next" href="http://follows.com/blog/page/2">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Social Media Marketing and Help Articles -">
<meta property="og:description" content="Learn how to get the most out of your Twitter profile, as well as grow and maintain your Instagram and Facebook pages.">
<meta property="og:url" content="http://follows.com/blog">
<meta property="og:site_name" content="Follows.com">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Learn how to get the most out of your Twitter profile, as well as grow and maintain your Instagram and Facebook pages.">
<meta name="twitter:title" content="Social Media Marketing and Help Articles -">
<script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/follows.com\/blog","name":"Follows.com","potentialAction":{"@type":"SearchAction","target":"http:\/\/follows.com\/blog?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

<link rel="dns-prefetch" href="//s.w.org">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/follows.com\/blog\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.1"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b===c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="http://follows.com/blog/wp-includes/js/wp-emoji-release.min.js?ver=4.8.1" type="text/javascript" defer=""></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="yarppWidgetCss-css" href="http://follows.com/blog/wp-content/plugins/yet-another-related-posts-plugin/style/widget.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="wp-pagenavi-css" href="http://follows.com/blog/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
<link rel="stylesheet" id="us-plugin-styles-css" href="http://follows.com/blog/wp-content/plugins/ultimate-social-deux/public/assets/css/style.css?ver=5.0.4" type="text/css" media="all">
<style id="us-plugin-styles-inline-css" type="text/css">
.us_sticky .us_wrapper{background-color:#ffffff;}.us_floating .us_wrapper .us_button{width:45px;-webkit-transition:width 1000ms ease-in-out,background-color 400ms ease-out;-moz-transition:width 1000ms ease-in-out,background-color 400ms ease-out;-o-transition:width 1000ms ease-in-out,background-color 400ms ease-out;transition:width 1000ms ease-in-out,background-color 400ms ease-out;}.us_floating .us_wrapper .us_button:hover{width:90px;-webkit-transition:width 1000ms ease-in-out,background-color 400ms ease-out;-moz-transition:width 1000ms ease-in-out,background-color 400ms ease-out;-o-transition:width 1000ms ease-in-out,background-color 400ms ease-out;transition:width 1000ms ease-in-out,background-color 400ms ease-out;}.us_facebook .us_share,.us_facebook{background-color:#3b5998;}.us_facebook:hover .us_share,.us_facebook:hover{background-color:#008000;}.us_twitter .us_share,.us_twitter{background-color:#00ABF0;}.us_twitter:hover .us_share,.us_twitter:hover{background-color:#008000;}.us_google .us_share,.us_google{background-color:#D95232;}.us_google:hover .us_share,.us_google:hover{background-color:#008000;}.us_delicious .us_share,.us_delicious{background-color:#66B2FD;}.us_delicious:hover .us_share,.us_delicious:hover{background-color:#008000;}.us_stumble .us_share,.us_stumble{background-color:#E94B24;}.us_stumble:hover .us_share,.us_stumble:hover{background-color:#008000;}.us_linkedin .us_share,.us_linkedin{background-color:#1C86BC;}.us_linkedin:hover .us_share,.us_linkedin:hover{background-color:#008000;}.us_pinterest .us_share,.us_pinterest{background-color:#AE181F;}.us_pinterest:hover .us_share,.us_pinterest:hover{background-color:#008000;}.us_buffer .us_share,.us_buffer{background-color:#000000;}.us_buffer:hover .us_share,.us_buffer:hover{background-color:#008000;}.us_reddit .us_share,.us_reddit{background-color:#CEE3F8;}.us_reddit:hover .us_share,.us_reddit:hover{background-color:#008000;}.us_vkontakte .us_share,.us_vkontakte{background-color:#537599;}.us_vkontakte:hover .us_share,.us_vkontakte:hover{background-color:#008000;}.us_mail .us_share,.us_mail{background-color:#666666;}.us_mail:hover .us_share,.us_mail:hover{background-color:#008000;}.us_love .us_share,.us_love{background-color:#FF0000;}.us_love:hover .us_share,.us_love:hover{background-color:#008000;}.us_pocket .us_share,.us_pocket{background-color:#ee4056;}.us_pocket:hover .us_share,.us_pocket:hover{background-color:#008000;}.us_tumblr .us_share,.us_tumblr{background-color:#529ecc;}.us_tumblr:hover .us_share,.us_tumblr:hover{background-color:#008000;}.us_print .us_share,.us_print{background-color:#60d0d4;}.us_print:hover .us_share,.us_print:hover{background-color:#008000;}.us_flipboard .us_share,.us_flipboard{background-color:#c10000;}.us_flipboard:hover .us_share,.us_flipboard:hover{background-color:#008000;}.us_comments .us_share,.us_comments{background-color:#b69823;}.us_comments:hover .us_share,.us_comments:hover{background-color:#008000;}.us_feedly .us_share,.us_feedly{background-color:#414141;}.us_feedly:hover .us_share,.us_feedly:hover{background-color:#008000;}.us_youtube:hover{background-color:#008000;}.us_youtube{background-color:#cc181e;}.us_vimeo{background-color:#1bb6ec;}.us_vimeo:hover{background-color:#008000;}.us_behance{background-color:#1769ff;}.us_behance:hover{background-color:#008000;}.us_ok .us_share,.us_ok{background-color:#f2720c;}.us_ok:hover .us_share,.us_ok:hover{background-color:#008000;}.us_weibo .us_share,.us_weibo{background-color:#e64141;}.us_weibo:hover .us_share,.us_weibo:hover{background-color:#008000;}.us_managewp .us_share,.us_managewp{background-color:#098ae0;}.us_managewp:hover .us_share,.us_managewp:hover{background-color:#008000;}.us_xing .us_share,.us_xing{background-color:#026466;}.us_xing:hover .us_share,.us_xing:hover{background-color:#008000;}.us_whatsapp .us_share,.us_whatsapp{background-color:#34af23;}.us_whatsapp:hover .us_share,.us_whatsapp:hover{background-color:#008000;}.us_meneame .us_share,.us_meneame{background-color:#ff6400;}.us_meneame:hover .us_share,.us_meneame:hover{background-color:#008000;}.us_digg .us_share,.us_digg{background-color:#000000;}.us_digg:hover .us_share,.us_digg:hover{background-color:#008000;}.us_dribbble{background-color:#f72b7f;}.us_dribbble:hover{background-color:#008000;}.us_envato{background-color:#82b540;}.us_envato:hover{background-color:#008000;}.us_github{background-color:#201e1f;}.us_github:hover{background-color:#008000;}.us_soundcloud{background-color:#ff6f00;}.us_soundcloud:hover{background-color:#008000;}.us_instagram{background-color:#48769c;}.us_instagram:hover{background-color:#008000;}.us_feedpress{background-color:#ffafaf;}.us_feedpress:hover{background-color:#008000;}.us_mailchimp{background-color:#6dc5dc;}.us_mailchimp:hover{background-color:#008000;}.us_flickr{background-color:#0062dd;}.us_flickr:hover{background-color:#008000;}.us_members{background-color:#0ab071;}.us_members:hover{background-color:#008000;}.us_more,.us_more .us_share{background-color:#53B27C;}.us_more:hover,.us_more:hover .us_share{background-color:#008000;}.us_posts{background-color:#924e2a;}.us_posts:hover{background-color:#008000;}.us_facebook a{color:#3b5998;}.us_facebook a:hover{color:#008000;}.us_twitter a{color:#00ABF0;}.us_twitter a:hover{color:#008000;}.us_google a{color:#D95232;}.us_google a:hover{color:#008000;}.us_delicious a{color:#66B2FD;}.us_delicious a:hover{color:#008000;}.us_stumble a{color:#E94B24;}.us_stumble a:hover{color:#008000;}.us_linkedin a{color:#1C86BC;}.us_linkedin a:hover{color:#008000;}.us_pinterest a{color:#AE181F;}.us_pinterest a:hover{color:#008000;}.us_buffer a{color:#000000;}.us_buffer a:hover{color:#008000;}.us_reddit a{color:#CEE3F8;}.us_reddit a:hover{color:#008000;}.us_vkontakte a{color:#537599;}.us_vkontakte a:hover{color:#008000;}.us_mail a{color:#666666;}.us_mail a:hover{color:#008000;}.us_love a,.us_love{color:#FF0000;}.us_love a:hover,.us_love:hover{color:#008000;}.us_pocket a{color:#ee4056;}.us_pocket a:hover{color:#008000;}.us_tumblr a{color:#529ecc;}.us_tumblr a:hover{color:#008000;}.us_print a{color:#60d0d4;}.us_print a:hover{color:#008000;}.us_flipboard a{color:#c10000;}.us_flipboard a:hover{color:#008000;}.us_comments a,.us_comments{color:#b69823;}.us_comments a:hover,.us_comments:hover{color:#008000;}.us_feedly a{color:#414141;}.us_feedly a:hover{color:#008000;}.us_youtube a{color:#cc181e;}.us_youtube a:hover{color:#008000;}.us_vimeo a{color:#1bb6ec;}.us_vimeo a:hover{color:#008000;}.us_behance a{color:#1769ff;}.us_behance a:hover{color:#008000;}.us_ok a{color:#f2720c;}.us_ok a:hover{color:#008000;}.us_weibo a{color:#e64141;}.us_weibo a:hover{color:#008000;}.us_managewp a{color:#098ae0;}.us_managewp a:hover{color:#008000;}.us_xing a{color:#026466;}.us_xing a:hover{color:#008000;}.us_whatsapp a{color:#34af23;}.us_whatsapp a:hover{color:#008000;}.us_meneame a{color:#ff6400;}.us_meneame a:hover{color:#008000;}.us_digg a{color:#000000;}.us_digg a:hover{color:#008000;}.us_dribbble a{ color:#f72b7f;}.us_dribbble a:hover{ color:#008000;}.us_envato a{color:#82b540;}.us_envato a:hover{color:#008000;}.us_github a{color:#201e1f;}.us_github a:hover{color:#008000;}.us_soundcloud a{color:#ff6f00;}.us_soundcloud a:hover{color:#008000;}.us_instagram a{color:#48769c;}.us_instagram a:hover{color:#008000;}.us_feedpress{color:#ffafaf;}.us_feedpress:hover{color:#008000;}.us_mailchimp{color:#6dc5dc;}.us_mailchimp:hover{color:#008000;}.us_flickr a{color:#0062dd;}.us_flickr a:hover{color:#008000;}.us_members{color:#0ab071;}.us_members:hover{color:#008000;}.us_more a{color:#53B27C;}.us_more a:hover{color:#008000;}.us_posts{color:#924e2a;}.us_posts:hover{color:#008000;}.my-ultimatesocial-class {
    display:block;
    float:left;
    font-family:Helvetica;
    margin-bottom:18px;
    margin-top:0;
    min-width:397px;
    padding-left:0;
    width:624px;
}
.us_count{margin-top:1px;}
.us_wrapper .us_button{width:101px;}
.us_shortcode .us_twitter .us_box .us_count,
.us_shortcode .us_facebook .us_box .us_count{
display:none;
}
.us_shortcode .us_wrapper .us-icon-twitter::before,
.us_shortcode .us_wrapper .us-icon-facebook::before{
margin-left:41px;
}
</style>
<script type="text/javascript" src="http://follows.com/blog/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
<script type="text/javascript" src="http://follows.com/blog/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var us_script = {"ajaxurl":"http:\/\/follows.com\/blog\/wp-admin\/admin-ajax.php","tweet_via":"","sharrre_url":"http:\/\/follows.com\/blog\/wp-admin\/admin-ajax.php","success":"Great work! Your message was sent.","trying":"Trying to send email...","total_shares_text":"Shares","facebook_height":"500","facebook_width":"900","twitter_height":"500","twitter_width":"900","googleplus_height":"500","googleplus_width":"900","delicious_height":"550","delicious_width":"550","stumble_height":"550","stumble_width":"550","linkedin_height":"550","linkedin_width":"550","pinterest_height":"320","pinterest_width":"720","buffer_height":"500","buffer_width":"900","reddit_height":"500","reddit_width":"900","vkontakte_height":"500","vkontakte_width":"900","printfriendly_height":"500","printfriendly_width":"1045","pocket_height":"500","pocket_width":"900","tumblr_height":"500","tumblr_width":"900","flipboard_height":"500","flipboard_width":"900","weibo_height":"500","weibo_width":"900","xing_height":"500","xing_width":"900","ok_height":"500","ok_width":"900","managewp_height":"500","managewp_width":"900","meneame_height":"500","meneame_width":"900","digg_height":"500","digg_width":"900","home_url":"http:\/\/follows.com\/blog","nonce":"603d6d35a5","already_loved_message":"You have already loved this item.","error_message":"Sorry, there was a problem processing your request.","logged_in":"false","bitly":"false"};
/* ]]> */
</script>
<script type="text/javascript" src="http://follows.com/blog/wp-content/plugins/ultimate-social-deux/public/assets/js/min/us.script-min.js?ver=5.0.4"></script>
<link rel="https://api.w.org/" href="http://follows.com/blog/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://follows.com/blog/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://follows.com/blog/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.8.1">


<!-- Plugin: Open external links a new window. Plugin by Kristian Risager Larsen, http://kristianrisagerlarsen.dk . Download it at http://wordpress.org/extend/plugins/open-external-links-in-a-new-window/ -->
<script type="text/javascript">//<![CDATA[
	function external_links_in_new_windows_loop() {
		if (!document.links) {
			document.links = document.getElementsByTagName('a');
		}
		var change_link = false;
		var force = '';
		var ignore = '';

		for (var t=0; t<document.links.length; t++) {
			var all_links = document.links[t];
			change_link = false;
			
			if(document.links[t].hasAttribute('onClick') == false) {
				// forced if the address starts with http (or also https), but does not link to the current domain
				if(all_links.href.search(/^http/) != -1 && all_links.href.search('follows.com') == -1) {
					// alert('Changeda '+all_links.href);
					change_link = true;
				}
					
				if(force != '' && all_links.href.search(force) != -1) {
					// forced
					// alert('force '+all_links.href);
					change_link = true;
				}
				
				if(ignore != '' && all_links.href.search(ignore) != -1) {
					// alert('ignore '+all_links.href);
					// ignored
					change_link = false;
				}

				if(change_link == true) {
					// alert('Changed '+all_links.href);
					document.links[t].setAttribute('onClick', 'javascript:window.open(\''+all_links.href+'\'); return false;');
					document.links[t].removeAttribute('target');
				}
			}
		}
	}
	
	// Load
	function external_links_in_new_windows_load(func)
	{	
		var oldonload = window.onload;
		if (typeof window.onload != 'function'){
			window.onload = func;
		} else {
			window.onload = function(){
				oldonload();
				func();
			}
		}
	}

	external_links_in_new_windows_load(external_links_in_new_windows_loop);
	//]]></script>

		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<!-- All in one Favicon 4.5 --><link rel="icon" href="http://follows.com/blog/wp-content/uploads/2015/11/favicon-1.png" type="image/png">
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style><!-- BEGIN GADWP v5.1.1.1 Universal Analytics - https://deconf.com/google-analytics-dashboard-wordpress/ -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69723777-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- END GADWP Universal Analytics -->
<script async="" type="text/javascript" src="//follows.disqus.com/count.js"></script><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style></head>

<body>

<div id="header2">
    
    
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="/"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
			<li><a href="SocialCelebrity.html">Home</a></li>
			<li><a href="twitter">Pricing</a></li>
			<li><a href="free-followers">Free Followers</a></li>
			<li><a href="faq">FAQ</a></li>
			<li><a href="blog/">Blog</a></li>
			<li><a href="">Shoutouts</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>    

<!--
	<div id="nav">
		<a class="logo" href="/"></a>	
		
		<div id="nav-right">
			
			<a href="/">Home</a>
			<a href="/twitter">Pricing</a>
			<a href="/free-followers">Free Followers</a>
			<a href="/faq">FAQ</a>
			<a href="http://follows.com/blog/">Blog</a>
		
		</div>
		
	</div>
-->
	
	<div id="secondnav">
		<div id="secondint" class="container">
		    <div class="row">
				<div id="second-left" class="col-md-7 col-sm-6">
				
					<a href="http://follows.com/blog/" class="homelink">Blog Home</a>
					<span class="navdiv"></span>
					<a href="/blog/infographics" class="infographiclink">Infographics</a>
				
					<div id="nav-arrow2"></div>
				
				</div>
				
				<div id="second-right" class="col-md-4  col-sm-5">
					<a href="https://follows.com/contact" class="contactlink">Questions? Contact Us</a>
				</div>
            </div>				
			
		</div>
	</div>
	

</div>

<div id="rainbow">
	<div id="worked-top">
		<div id="top-p2"></div><div id="top-g"></div><div id="top-y"></div><div id="top-o"></div><div id="top-r"></div>
	</div><!-- worked-top -->
</div><!-- rainbow -->
    

<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 0px;"><div class="container-sroller" style="position: fixed; top: 92px;">
    <div class="container">
        <div id="scrollingsidebar3" class="row">
            <div class="col-md-7 col-sm-7 col-xs-6 sidebartitle3">Get more real human followers, guaranteed</div>

            <div id="ctacontainer3" class="col-md-5 col-sm-5 col-xs-6 ">
                <a href="/twitter" class="ctabutton">See Pricing</a>
            </div>
        </div>        
    </div>
</div></div>          
        
<div id="container-bg">
             
	<div id="blogcontainer" class="container">
	
		<div id="faq-spacer"></div>
<div class="row">

<div id="blogleft" class="col-md-8">
	
	
		
			<div class="post-1702 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1702">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/08/how-tweets-safe-day" rel="bookmark" title="Permanent Link to How Many Tweets Can You Safely Like Per Day?">How Many Tweets Can You Safely Like Per Day?</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on August 25th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="How Many Tweets Can You Safely Like Per Day?" data-url="http://follows.com/blog/2017/08/how-tweets-safe-day" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">0</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/08/how-tweets-safe-day#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/08/how-tweets-safe-day"><img src="http://follows.com/blog/wp-content/uploads/2017/08/Multiple-Twitter-Likes.jpg"></a>
				</div>
				

				<div class="entry">
					<p>A million. A billion. I don’t know, why would it even occur to anyone to ask this question? I know Twitter has some odd limitations, but the like is the most basic form of engagement out there. To limit it …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/08/how-tweets-safe-day">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1692 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1692">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/08/can-banned-twitter-automation" rel="bookmark" title="Permanent Link to Can You Get Banned on Twitter for Using Automation?">Can You Get Banned on Twitter for Using Automation?</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on August 18th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="Can You Get Banned on Twitter for Using Automation?" data-url="http://follows.com/blog/2017/08/can-banned-twitter-automation" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">0</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/08/can-banned-twitter-automation#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/08/can-banned-twitter-automation"><img src="http://follows.com/blog/wp-content/uploads/2017/08/Twitter-Automation-Illustration.jpg"></a>
				</div>
				

				<div class="entry">
					<p>Twitter can and will suspend your account if you use automation in a bad way. However, there are plenty of ways you can use automation appropriately, without risk of being suspended. As with most tools, it’s how you use it …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/08/can-banned-twitter-automation">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1679 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1679">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/08/tweet-get-many-impressions" rel="bookmark" title="Permanent Link to How Did My Tweet Get So Many Impressions?">How Did My Tweet Get So Many Impressions?</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on August 11th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="How Did My Tweet Get So Many Impressions?" data-url="http://follows.com/blog/2017/08/tweet-get-many-impressions" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">0</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/08/tweet-get-many-impressions#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/08/tweet-get-many-impressions"><img src="http://follows.com/blog/wp-content/uploads/2017/08/High-Number-of-Tweet-Impressions.jpg"></a>
				</div>
				

				<div class="entry">
					<p>Let’s say you run a relatively small Twitter account with something like 250 followers. You try to improve your marketing over time, but it’s slow going; growth without paid investment is a long, organic process. You grow, but you have …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/08/tweet-get-many-impressions">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1666 post type-post status-publish format-standard has-post-thumbnail hentry category-instagram" id="post-1666">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/instagram" rel="category tag">Instagram</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/08/grow-brand-new-instagram" rel="bookmark" title="Permanent Link to How to Grow Your Brand New Instagram Profile">How to Grow Your Brand New Instagram Profile</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on August 6th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="How to Grow Your Brand New Instagram Profile" data-url="http://follows.com/blog/2017/08/grow-brand-new-instagram" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">9</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/08/grow-brand-new-instagram#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/08/grow-brand-new-instagram"><img src="http://follows.com/blog/wp-content/uploads/2017/08/Instagram-New-Profile-Illustration.jpg"></a>
				</div>
				

				<div class="entry">
					<p>Instagram isn’t an easy platform to use. The mobile restrictions and lack of a posting API means you need specialized hardware – or at least a company smartphone – to run with it. Meanwhile, the site’s emphasis on images and …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/08/grow-brand-new-instagram">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1656 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1656">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/07/follow-back-all-twitter" rel="bookmark" title="Permanent Link to Should You Follow Back All of Your Followers on Twitter?">Should You Follow Back All of Your Followers on Twitter?</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on July 28th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="Should You Follow Back All of Your Followers on Twitter?" data-url="http://follows.com/blog/2017/07/follow-back-all-twitter" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">23</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/07/follow-back-all-twitter#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/07/follow-back-all-twitter"><img src="http://follows.com/blog/wp-content/uploads/2017/07/Following-Back-on-Twitter-1.jpg"></a>
				</div>
				

				<div class="entry">
					<p>As you use Twitter, people will follow you. The more consistently you use Twitter, the greater the rate of growth will be. The more appropriately you use it, the better it will be. There are a million articles written about …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/07/follow-back-all-twitter">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1645 post type-post status-publish format-standard has-post-thumbnail hentry category-instagram" id="post-1645">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/instagram" rel="category tag">Instagram</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/07/upload-videos-instagram-mac" rel="bookmark" title="Permanent Link to How to Upload Videos to Instagram from Your Mac">How to Upload Videos to Instagram from Your Mac</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on July 24th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="How to Upload Videos to Instagram from Your Mac" data-url="http://follows.com/blog/2017/07/upload-videos-instagram-mac" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">0</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/07/upload-videos-instagram-mac#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/07/upload-videos-instagram-mac"><img src="http://follows.com/blog/wp-content/uploads/2017/07/Uploading-Video-to-Instagram.jpg"></a>
				</div>
				

				<div class="entry">
					<p>Instagram has always been a heavily mobile-focused app, and it was only relatively recently that you were even allowed to access it from a non-mobile device. This makes managing an Instagram account for a business quite a difficult task.</p>
<p>It’s …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/07/upload-videos-instagram-mac">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1631 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1631">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/07/claim-twitter-already-taken" rel="bookmark" title="Permanent Link to How to Claim a Twitter Account That is Already Taken">How to Claim a Twitter Account That is Already Taken</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on July 13th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="How to Claim a Twitter Account That is Already Taken" data-url="http://follows.com/blog/2017/07/claim-twitter-already-taken" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">4</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/07/claim-twitter-already-taken#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/07/claim-twitter-already-taken"><img src="http://follows.com/blog/wp-content/uploads/2017/07/Twitter-Username-Taken.jpg"></a>
				</div>
				

				<div class="entry">
					<p>If you’re just getting into Twitter marketing, or you’re starting a new brand and want to pick up a relevant twitter account, you’re fairly likely to run into some issues. Twitter is one of those sites where so many people …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/07/claim-twitter-already-taken">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1621 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1621">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/07/sprout-social-bot-builder" rel="bookmark" title="Permanent Link to Use Sprout Social’s Twitter Bot Builder to Grow Your Profile">Use Sprout Social’s Twitter Bot Builder to Grow Your Profile</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on July 6th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="Use Sprout Social’s Twitter Bot Builder to Grow Your Profile" data-url="http://follows.com/blog/2017/07/sprout-social-bot-builder" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">0</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/07/sprout-social-bot-builder#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/07/sprout-social-bot-builder"><img src="http://follows.com/blog/wp-content/uploads/2017/07/Sprout-Social-Chat-Bot.jpg"></a>
				</div>
				

				<div class="entry">
					<p>When you think of bots on a site like Twitter, the first thing that comes to mind is likely to be <a href="http://follows.com/blog/2017/04/review-twitter-money-bot">spam</a>. Bot accounts run rampant, after all; botnets control thousands or millions of them, to whatever nefarious purpose …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/07/sprout-social-bot-builder">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1611 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1611">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/06/statusbrew-grow-manage-twitter" rel="bookmark" title="Permanent Link to Using Statusbrew to Grow and Manage a Twitter Profile">Using Statusbrew to Grow and Manage a Twitter Profile</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on June 24th, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="Using Statusbrew to Grow and Manage a Twitter Profile" data-url="http://follows.com/blog/2017/06/statusbrew-grow-manage-twitter" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">29</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/06/statusbrew-grow-manage-twitter#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/06/statusbrew-grow-manage-twitter"><img src="http://follows.com/blog/wp-content/uploads/2017/06/Statusbrew-App.jpg"></a>
				</div>
				

				<div class="entry">
					<p>There are a wide variety of different Twitter management apps available, so sometimes it can be hard to choose one or another. What criteria do you use? Personally, I tend to rotate through different apps as I get frustrated with …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/06/statusbrew-grow-manage-twitter">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
			<div class="post-1601 post type-post status-publish format-standard has-post-thumbnail hentry category-twitter" id="post-1601">
			
				<span class="categorytag"><a href="http://follows.com/blog/category/twitter" rel="category tag">Twitter</a></span>
				
				<h2 class="blogtitle"><a href="http://follows.com/blog/2017/06/twitter-ads-waste-money" rel="bookmark" title="Permanent Link to Are Twitter Ads a Waste of Money for Your Business Model?">Are Twitter Ads a Waste of Money for Your Business Model?</a></h2>
				
				<div id="blogmeta">
					Posted by <a href="http://follows.com/blog/author/james-parsons" title="Posts by James Parsons" rel="author">James Parsons</a> on June 21st, 2017				</div>
				
				<div id="socialbtns">
					<div class="us_shortcode my-ultimatesocial-class"><div class="us_wrapper us_share_buttons us_tac us_skin_default" data-text="Are Twitter Ads a Waste of Money for Your Business Model?" data-url="http://follows.com/blog/2017/06/twitter-ads-waste-money" data-ajaxnetworks="facebook,twitter,google,linkedin,buffer"><div class="us_facebook us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-facebook"></i></div><div class="us_count">0</div></a></div><div class="us_twitter us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-twitter"></i></div><div class="us_count">0</div></a></div><div class="us_google us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-google"></i></div><div class="us_count">0</div></a></div><div class="us_linkedin us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-linkedin"></i></div><div class="us_count">3</div></a></div><div class="us_buffer us_button"><a class="us_box" href="#"><div class="us_share"><i class="us-icon-buffer"></i></div><div class="us_count">0</div></a></div><div class="us_comments us_button"><a class="us_box" href="http://follows.com/blog/2017/06/twitter-ads-waste-money#comments"><div class="us_share"><i class="us-icon-comments"></i></div><div class="us_count">0</div></a></div></div></div>				</div>
				
				<div id="blogpost-thumb">
										<a href="http://follows.com/blog/2017/06/twitter-ads-waste-money"><img src="http://follows.com/blog/wp-content/uploads/2017/06/Spending-Too-Much-on-Ads.jpg"></a>
				</div>
				

				<div class="entry">
					<p>The purpose of using social media is to network with, engage with, and get your content in front of your audience. Twitter ads facilitate this by allowing you to spend money to guarantee that your content is seen by people …</p>				</div>

				<a class="readmoreblog" href="http://follows.com/blog/2017/06/twitter-ads-waste-money">Read more</a>	
				
				<div id="dividertop"></div>
				<div id="dividerbottom"></div>
					
			</div>

		
		<div class="wp-pagenavi">
<span class="pages">Page 1 of 15</span><span class="current">1</span><a class="page larger" title="Page 2" href="http://follows.com/blog/page/2">2</a><a class="page larger" title="Page 3" href="http://follows.com/blog/page/3">3</a><a class="page larger" title="Page 4" href="http://follows.com/blog/page/4">4</a><a class="page larger" title="Page 5" href="http://follows.com/blog/page/5">5</a><span class="extend">...</span><a class="larger page" title="Page 10" href="http://follows.com/blog/page/10">10</a><span class="extend">...</span><a class="nextpostslink" rel="next" href="http://follows.com/blog/page/2">»</a><a class="last" href="http://follows.com/blog/page/15">Last »</a>
</div>		
				
				<div id="dividertop" style="margin-top:100px"></div>
				<div id="dividerbottom"></div>

		
</div><!-- left page -->
	
	    <div id="rightpage" class="col-md-4">
	     	<div id="scrollingsidebar2-sticky-wrapper" class="sticky-wrapper" style="height: 500px;"><div id="scrollingsidebar2">
	     		<span class="sidebartitle2">      
          We help you get more social media <div class="socialt">follo</div><span class="typed-cursor">|</span>
      
      	       </span>
	
	     		<div id="ctacontainer">
	     		
	     		      
          <a class="ctabutton" href="https://follows.com/twitter">See Pricing</a>
      
            
      
		     		
		     		<p class="ctapara">Save hundreds of dollars from Twitter, Instagram, and Facebook ads and let us grow your profile for a fraction of the cost! We grow authority profiles for thousands of businesses, from local companies to Fortune 500s.</p>
	     		</div>
	
	     	</div></div>
	    </div>
			        
</div>        


	<div id="footer" class="container">
	<div class="row">
		<div id="footer-left" class="col-md-5 col-sm-12 col-xs-12">
			
			<span class="footer-title">Navigation</span>
			
			<div id="footer-col1">
				<a href="SocialCelebrity.html">Home</a><br>
				<a href="https://follows.com/twitter">Twitter Followers</a><br>
				<a href="https://follows.com/instagram">Instagram Followers</a><br>
				<a href="https://follows.com/facebook">Facebook Followers</a>
			</div>
			
			<div id="footer-col2">
				<a href="https://follows.com/free-followers">Free Followers</a><br>
				<a href="https://follows.com/faq">FAQ</a><br>
				<a href="http://follows.com/blog/">Blog</a><br>
				<a href="https://follows.com/contact">Contact</a>
			</div>
		
		</div>
		
		<div id="footer-right" class="col-md-7 col-sm-12 col-xs-12">
			
			<span class="footer-title">Terms and Privacy</span>
			
			<p class="footer-p">We are not affiliated with Twitter, Instagram, or Facebook. The Twitter logo, the Instagram logo, and the Facebook 
			logo are all registered trademarks of their respective owners. By using Follows.com, you agree to our <a href="https://follows.com/terms">Terms</a> and our 
			<a href="https://follows.com/privacy">Privacy Policy.</a></p>
		
		</div>
    </div>		
    
	<div class="row">	
		<div id="copyright" class="col-md-6 col-sm-6 col-xs-12">Copyright 2017 Follows.com. All rights reserved.</div>
		<div id="social" class="col-md-6 col-sm-6 col-xs-12 text-right"><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://staticxx.facebook.com/connect/xd_arbiter/r/0sTQzbapM8j.js?version=42#channel=f2b889aae7008b&amp;origin=http%3A%2F%2Ffollows.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/0sTQzbapM8j.js?version=42#channel=f2b889aae7008b&amp;origin=http%3A%2F%2Ffollows.com" style="border: none;"></iframe></div></div></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like fb_iframe_widget" data-href="https://follows.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=432&amp;href=https%3A%2F%2Ffollows.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false"><span style="vertical-align: bottom; width: 77px; height: 20px;"><iframe name="f205055f68b2e88" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F0sTQzbapM8j.js%3Fversion%3D42%23cb%3Df2279021abbbb5c%26domain%3Dfollows.com%26origin%3Dhttp%253A%252F%252Ffollows.com%252Ff2b889aae7008b%26relation%3Dparent.parent&amp;container_width=432&amp;href=https%3A%2F%2Ffollows.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false" style="border: none; visibility: visible; width: 77px; height: 20px;" class=""></iframe></span></div>
			<script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>
			<div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 38px; height: 24px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 38px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px;" tabindex="0" vspace="0" width="100%" id="I0_1504226208138" name="I0_1504226208138" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;origin=http%3A%2F%2Ffollows.com&amp;url=https%3A%2F%2Ffollows.com%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.lZBn4NIOdGs.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCOGwkNsBSSA25rPuH1j0eoh1CEO4Q#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1504226208138&amp;parent=http%3A%2F%2Ffollows.com&amp;pfname=&amp;rpctoken=32480870" data-gapiattached="true" title="G+"></iframe></div></div>
	</div>
</div><!-- footer -->
    <div id="ouibounce-modal" style="display: none;">
			      <div class="underlay"></div>
			      <div class="modal">
			
					    <a id="closebtn"></a>
				        <div class="modal-body">
				        
				        	<div id="modal-top">
				        		<h2 class="modaltitle">      
         Get over 500 real followers<br> every month for $11/mo
      
      </h2>
				        	</div>
				        	
				        	<p class="modal-desc">	  
	      Get more real followers on your business or <br>
personal social media account. For less than 50 cents per <br>
day, we'll help you get dozens of new followers daily
      
      </p>
			                	                    		                    		                    		                    			          
				        </div>
				
				        <div class="modal-footer">
				        
				        	   
	      <a class="cupid-green3" href="https://follows.com/instagram?=monthly">See Pricing</a>
      
            
      
				        		
				        	<p>No thanks, I don’t have a blog and I don’t want followers.</p>
				        </div>
				        
			      </div><!-- modal -->
	</div><!-- ouibounce modal -->
	
</div><!-- container bg -->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
<script>
	setTimeout(function(){
		jQuery("#social").load('http://follows.com/blog/wp-content/themes/follows/resources/assets/social.php');
	}, 3000);
</script>
<script src="http://follows.com/blog/wp-content/themes/follows/resources/inc/jquery.sticky.js" type="text/javascript"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery('#scrollingsidebar2').sticky({
			topSpacing: 120,
			bottomSpacing: 450
		});
	});
    
    
 	jQuery(function() {
		jQuery('.container-sroller').sticky({
			topSpacing: 92,
			bottomSpacing: 450
		});
	});   
    
</script>
<script src="http://follows.com/blog/wp-content/themes/follows/resources/inc/ouibounce.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="http://follows.com/blog/wp-content/themes/follows/resources/inc/ouibounce.css">
<script>
jQuery( document ).ready(function() {
  ouiBounce(document.getElementById('ouibounce-modal'), {
    aggressive: false,
    timer: 0,
    callback: function() { console.log('ouiBounce fired!'); }
  });

  jQuery('#ouibounce-modal .modal-footer').on('click', function() {
    jQuery('#ouibounce-modal').hide();
  });
  
  jQuery('#closebtn').on('click', function() {
    jQuery('#ouibounce-modal').hide();
  });

  jQuery('#ouibounce-modal .modal').on('click', function(e) {
    e.stopPropagation();
  });
});
</script>

<script>
var fixedHeader = function() {
	// Settings
	var showHeaderPixels = 150;
	var fadeInSpeed = 200;

	// Distance from the top
	var scrollPixels = jQuery(window).scrollTop();

	// Header
	var header = jQuery('#header2');

	// Show header if past certain pixels
	if (scrollPixels > showHeaderPixels) {
		if (!jQuery(header).hasClass('navstick')) {
			jQuery(header).hide();
			jQuery(header).addClass('navstick');
			jQuery(header).slideDown(250);
		}
	} else if (jQuery(header).hasClass('navstick')) {
		jQuery(header).removeClass('navstick');
			jQuery(header).show();
	}
};

jQuery(function () {

	fixedHeader();
});

jQuery(window).scroll(function(e) {
	fixedHeader();
});
</script>

<script type="text/javascript" src="http://follows.com/blog/wp-content/plugins/bj-lazy-load/js/bj-lazy-load.min.js?ver=2"></script>
<script type="text/javascript" src="http://follows.com/blog/wp-includes/js/wp-embed.min.js?ver=4.8.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var countVars = {"disqusShortname":"follows"};
/* ]]> */
</script>
<script type="text/javascript" src="http://follows.com/blog/wp-content/plugins/disqus-comment-system/media/js/count.js?ver=4.8.1"></script>
<script src="http://follows.com/blog/wp-content/themes/follows/inc/typed.js"></script>
<script>
jQuery( document ).ready(function() {
      jQuery(".twittert").typed({
        strings: ["followers", "tweets", "likes", "retweets"],
        typeSpeed: 200,
        backDelay: 2500,
        loop: true,
      });
  });
</script>
<script>
jQuery( document ).ready(function() {
      jQuery(".instagramt").typed({
        strings: ["followers", "likes", "comments"],
        typeSpeed: 200,
        backDelay: 2500,
        loop: true,
      });
  });
</script>
<script>
jQuery( document ).ready(function() {
      jQuery(".socialt").typed({
        strings: ["followers", "likes", "views", "tweets", "shares"],
        typeSpeed: 200,
        backDelay: 2500,
        loop: true,
      });
  });
</script>
</div>

<script src="http://follows.com/blog/wp-content/themes/follows/resources/bootstrap/js/bootstrap.min.js"></script>



<!-- Dynamic page generated in 0.631 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2017-08-30 23:59:51 -->

<!-- super cache --><iframe name="oauth2relay872008215" id="oauth2relay872008215" src="https://accounts.google.com/o/oauth2/postmessageRelay?parent=http%3A%2F%2Ffollows.com&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.lZBn4NIOdGs.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCOGwkNsBSSA25rPuH1j0eoh1CEO4Q#rpctoken=651263781&amp;forcesecure=1" tabindex="-1" aria-hidden="true" style="width: 1px; height: 1px; position: absolute; top: -100px;"></iframe></body></html>