<% include ./partials/header %>

<div id="container-bg">

  <div id="container2">

    <div id="faq-spacer"></div>

    <div id="leftpage">

      <h3 class="pagetitle">Questions? Contact us at
        <br>sales@social-celebrity.com</h3>

    </div>
    <!-- left page -->

    <div id="rightpage">
      <% include ./partials/scrolling-sidebar %>
    </div>
  </div>
  <!-- container2 -->

  <% include ./partials/footer %>

  <% include ./partials/sticky-sidebar-deps %>
  <% include ./partials/autolikes-banner-script %>

</body>
</html>