<% include ./partials/header %>

  <div id="container-bg">

    <div id="container2">

      <div id="faq-spacer"></div>

      <div id="leftpage">

        <h3 class="pagetitle">Privacy Policy</h3>
        <p>Please read the following carefully before proceeding to use Social-Celebrity.com:
          <br>
          <br> Note that your use of our services is subject to the following policy ("privacy policy"). You are advised to read
          this privacy policy carefully. Your omission to read this privacy policy shall never waive you of your responsibilities,
          obligations and liabilities hereunder. Notwithstanding specifically provided herein, the phrases, expressions,
          acronyms and terms used in the privacy policy gives the same meaning as defined in the terms.</p>

        <div id="faqbox">
          <h3>Scope</h3>
          <p>
            This Privacy Policy describes what kind of information about you is collected, how securely it is maintained, and how it
            is used.
            <br>
            <br>
          </p>
        </div>

        <div id="faqbox">
          <h3>Collection of Information</h3>
          <p>We collect and keep the record of the following information including:
            <br>
            <br> i. Name;
            <br> ii. Your Facebook
            <br> iii. Email ID;
            <br> iv. IP address;
            <br> v. Technical information of your machine;
            <br> vi. Internet browsing history;
            <br> vii. Payment details; and
            <br> viii. Any data you may provide us during the course of your Social Media Marketing.
            <br> (Collectively or individually to be referred as "Information")</p>
        </div>

        <div id="faqbox">
          <h3>Privacy of Children</h3>
          <p>Our website is not for minors. If you are below the age of sixteen years, you must not use our website unless your
            parents and legal guardian permitted you doing so. We never collect information about children intentionally.
            Please make us know if you believe that we have obtained information about children. Follows.com has no liability
            in connection with our collection of the information from children unknowingly. We may refuse to provide you
            Our Services or cancel your subscription to Social Media Marketing if we are of the view that you don't have
            eligibility under this section.</p>
        </div>


        <div id="faqbox">
          <h3>Use of Cookies</h3>
          <p>Social-Celebrity.com employs cookies and similar other programs ("Cookies") to collect information about your preferences
            or data you enter while using our website so we may customize Our Services as to your choices and preferences.
            The Cookies collect the data about usage statistics, choices, preferences, trends, and behavior of the user which
            is essential to the provision of issueless, error-free, stable, smooth, efficient and customized user experience.
            For further details, visit http://www.allaboutcookies.org/.</p>
        </div>

        <div id="faqbox">
          <h3>Uses, Disclosure, and Purpose of Information</h3>
          <p>The primary purpose of gathering your Information is to design Our Services in accordance with your preferences
            and provide you with improved, secure and useful user experience. To this end, we use your Information for the
            following purposes:
            <br>
            <br> i. Verification of a user;
            <br> ii. Analysis of your preferences, current trends, your usage behavior, geo-location and demographical use of
            Follows.com and realize the best user experience;
            <br>
            <!--iii is missing here-->
            iv. Keeping you updated with reference to our latest offers, features and services; and
            <br> v. Enforcement of Terms, any separate agreement, Privacy Policy and any applicable law.
            <br>
            <br> We may disclose your Information to any judicial authority or legal authority in compliance with the applicable
            laws when required to that effect.</p>
        </div>

        <div id="faqbox">
          <h3>Representation and Warranties</h3>
          <p>No Information will be leased, sold, disclosed, transferred, or shared to anyone external to Follows.com unless
            otherwise provided herein. Your Information shall entirely be used for the purposes of processing, provision
            and maintaining the record of Our Services. We guarantee that we use reasonable method of industry standards
            to store Information.
            <br>
            <br> You agree that we can disclose non-personal information to any of our service providers, partners, affiliates,
            agents or contractors for analyzing the usage trends, statistics, patterns, behavior, preferences and choices
            relating to Our Services or any part thereof.
            <br>
            <br> Your payment related information is made to travel across a secure network, SSL, so that no part of your sensitive
            information may be abused in any manner.</p>
        </div>

        <div id="faqbox">
          <h3>Consent and Authorization</h3>
          <p>You agree that we may collect, handle, store and use your Information in compliance with Privacy Policy.</p>

        </div>

        <div id="faqbox">
          <h3>Security and Protection of Information</h3>
          <p>Your Information is kept in our facilities and is governed by the applicable laws of the USA. We have modern infrastructure,
            effective administration and physical measures for the protection of your Information. But we cannot warrant
            and guarantee the security and integrity of your Information in all circumstances thanks to the vulnerable nature
            of internet based data. You agree to own the risk exists with reference to your use of Our Services.
            <br>
            <br> You acknowledge that we don't own responsibility for the security breach of your Information due to an event
            out our reasonable control.</p>
        </div>

        <div id="faqbox">
          <h3>Amendments</h3>
          <p>We may amend any part of this Privacy Policy without any notification. The amended Privacy Policy will be effective
            upon its publication on our website. Your use of Our Services following such amendment shall constitute your
            acceptance thereto, provided that the amendments do not materially and adversely affect your interests.</p>
        </div>
        <div id="faqbox">
          <h3>Notice, Communication, and Contact</h3>
          <p>
            Please contact us in case of any question, service of notice and communication with reference to our Privacy Policy at: Email:
            sales@follows.com

          </p>
        </div>

      </div>
      <!-- left page -->

			<div id="rightpage">
          <% include ./partials/scrolling-sidebar %>
        </div>
      </div>
      <!-- container2 -->

  <% include ./partials/footer %>

  <% include ./partials/sticky-sidebar-deps %>
  <% include ./partials/autolikes-banner-script %>

</body>
</html>