<% include ./partials/header %>

<div id="container-bg">

	<div id="container2">

		<div id="faq-spacer"></div>

		<div id="leftpage">

			<h3 class="pagetitle">Your Order is Being Processed</h3>

		     	<div id="faqbox">
		     		<h3>Your order has been received and is in the oven!</h3>
		     		<p>Your campaign is being set up by our team. It can take 24-48 hours for your order to be assigned to our team and to see movement. Small orders are completed in a few days, and large orders can take 1-3 weeks.</p>
                    <p>If you need an order expedited (or extended for a drip-fed campaign), please send us a contact form message through our contact page now and we will add this note to your order.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Authority profiles on Twitter, Instagram, Facebook and YouTube</h3>
		     		<p>Having all four powerful social media profiles (Twitter, Instagram, Facebook, and YouTube) is important to having an effective online presence. We help thousands of companies from small businesses to Fortune 500's grow their profiles.</p>
		     	</div>

	    </div><!-- left page -->

		<div id="rightpage">
			<% include ./partials/scrolling-sidebar %>
		</div>
	</div>
	<!-- container2 -->

  <% include ./partials/footer %>

  <% include ./partials/sticky-sidebar-deps %>
  <% include ./partials/autolikes-banner-script %>

</body>
</html>