<% include ./partials/header %>

	<div id="container-bg">

		<div id="container2">

			<div id="faq-spacer"></div>

			<div id="leftpage">

				<h3 class="pagetitle">Terms of Service (TOS)</h3>
				<p>By placing an order on Social-Celebrity.com you agree to have read and understand our terms of service:</p>

				<div id="faqbox">
					<h3>1.Introduction</h3>
					<p>
						1.1 Please read following terms and conditions ("terms") carefully, understand all aspect of our services and seek an independent
						legal advice, where necessary, before using our services. Your use of our website and the services offered thereby
						("our services") are subject to the terms which form a legally binding relationship between you and us. Your continued
						use of this website and services offered hereunder shall constitute your acceptance of the terms.
						<br>
						<br> 1.2 You will be eligible to use our services only if you are solvent, major and can create a valid legal agreement.
						If you are a minor, please don't use our services.
						<br>
						<br> 1.3 You acknowledge that you will not be excused from any obligation arising from the terms on the ground that you
						omit to read the terms.</p>
				</div>

				<div id="faqbox">
					<h3>2. Definitions and Interpretations</h3>
					<p>2.1 "Follows.com", "we", "our", "us" and "its" refer to Follows.com, its owner(s), partner(s), directors, and authorized
						officials.
						<br>
						<br> 2.2 "Our Services" includes our website (Follows.com), marketing services for your Instagram, Twitter, Facebook accounts
						and such other services we may introduce from time to time ("Social Media Marketing").
						<br>
						<br> 2.3 Any person using Our Services or part of Our Services refers to "You" and "User".
						<br>
						<br> 2.4 Privacy Policy means the document available on our website explaining our principle position with reference to
						the collection, use and security of Your Information.
						<br>
						<br> 2.5 "Provision" means any terms and conditions and proviso of the Terms.
						<br>
						<br> 2.6 Social Media Account: It refers to your social media account with reference to which Our Services are obtained.
						<br>
						<br> 2.7 "Page likes" means feedback by any user in the form of likes on your Facebook page or your web page URL.
						<br>
						<br> 2.8 "Following" means a user subscription to your page updates on Facebook, Twitter or Instagram follower.
						<br>
						<br> 2.9 "Social Media Marketing" includes promotional campaigns by assisting you to increase the following, viewership
						and page likes of your social media account.
						<br>
						<br> 2.10 "Subscriber" refers to a user who subscribed to Social Media Marketing plan offered by us.
						<br>
						<br> 2.11"Prohibited Content" refers to any content that is: i. Indecent, sexually explicit, obscene, inaccurate, false,
						harmful, libelous, defamatory, harassing, threatening, hateful, offensive, discriminatory, and/or unlawful; ii. Considered
						to be inappropriate or instigating crime, offense and violation of any law or rights; iii. In the breach of proprietary
						rights, copyrights and privacy rights; iv. Malicious or harmful to Follows.com; and vi. Harmful programs such as, without
						limitation, viruses, worms, Trojan horses, spyware, agents, script and similar other harmful data.</p>
				</div>

				<div id="faqbox">
					<h3>3. Services and Warranties</h3>
					<p>3.1 You acknowledge and represent that we are not responsible for the content, text, images, activities and use of your
						Social Media Account.
						<br></br>

						3.2 You acknowledge and represent that you are duty-bound to ensure the fullest compliance with any third party agreement
						which you entered into or to which you are party ("Third Party Agreement"). You further represent that we have not
						instigated you to breach any Third Party Agreement directly or indirectly. If the Terms are not in compliance with
						any Third Party Agreement, then please do not use the same. If you continue to use Our Services despite the fact that
						the Terms are in conflict with any Third Party Agreement, then you own your sole responsibility to that effect and
						represent that we are in no circumstances a party to the breach of such Third Party Agreement.
						<br></br>

						3.3 We do not obtain access to your Social Media Account. You are solely responsible to safeguard your Social Media Account
						from any unauthorized access and use.
						<br></br>

						3.4 You understand that we are an independent business entity and have no affiliation with any social media network such
						as Twitter, Instagram and Facebook.
						<br></br>

						3.5 You agree not to seek Our Services for any business or activities that are contrary to the laws of the USA, public policy,
						the Terms and any Third Party Agreement.
						<br></br>

						3.6 We may modify, suspend or terminate Our Services, at our sole discretion, without serving any prior notice, unless you
						are existing Subscriber.
						<br></br>

						3.7 We reserve the right to refuse the provision of any of Our Services to you without explaining the reason thereof.
						<br></br>

						3.8 We do not provide Our Services with reference to any social media account containing Prohibited Content. You will not
						be eligible to obtain Our Services if you are subject to the restrictions or economic sanctions imposed on you or your
						country by the USA Government under any law, regulation or official policy.
						<br></br>

						3.9 We provide you with a lifetime warranty to maintain the requested level of Social Media Marketing with respect to Facebook
						and Instagram accounts, and a two (2) month warranty for Twitter accounts. If you find any reduction in the following,
						viewership and page likes, then you are advised to notify us immediately.
						<br></br>

						3.10 Social Media Marketing consists of human campaigns and does not use software, bots or similar programs to avoid any
						unpleasant consequences for your Social Media Account.
						<br></br>

						3.11 Social Media Marketing may take time to accomplish the requested level as we adopt natural course by using human efforts
						and real human accounts during the campaign. Our small orders take seven (7) to fourteen (14) days and large ones thirty
						(30) to sixty (60) days.
						<br></br>

						3.12 Social Media Marketing in no circumstances uses fake profiles knowingly.
						<br></br>

						3.13 We don't bribe any user to follow, like, view or participate in our Social Media Marketing in any manner that comes
						within the scope of breach of the Third Party Agreement, nor we instigate, motivate, encourage or make in any manner
						to infringe any law, terms and conditions of any Third Party Agreement or rights of any other person or entity.
						<br></br>

						3.14 We don't misrepresent, mislead or trick any user that may violate any Third Party Agreement or the terms and conditions
						of any social media website.
						<br></br>

						3.15 Our Services, including Social Media Marketing, are designed in compliance with the applicable laws, any terms and conditions,
						rules, regulations and policies of the social media websites.
						<br></br>

						3.16 Technically, Follows.com also serves the business interests of the social media websites, and employs all precautions
						to ensure that no terms and conditions of such social media network are breached and our no act is detrimental to the
						interests of any social media websites.</p>
				</div>


				<div id="faqbox">
					<h3>4. Payments and Refunds</h3>
					<p>4.1 The current price for various Social Media Marketing plan is displayed on the following pricing pages which form
						the part of the Terms: https://follows.com/facebook, https://follows.com/twitter, https://follows.com/instagram. We
						may modify the price at any time in our sole discretion without any prior notification unless you are our existing
						Subscriber.
						<br></br>

						4.2 You may make payments through Credit Cards and PayPal.
						<br></br>

						4.3 No refund shall be made for the payment you made for Social Media Marketing unless we fail to accomplish the job after
						confirmation in accordance with the description. 5. PRIVACY POLICY: 5.1 We collect certain information from you while
						using Our Services. Your use of Our Services shall be deemed to be a valid consent to our collection, maintaining the
						record and use your Information. Please review our Privacy Policy for details.</p>
				</div>

				<div id="faqbox">
					<h3>5. General Terms</h3>
					<p>5.1 We may amend, alter, change, withdraw, replace and make ineffective, wholly or partially, the Terms ("amendment")
						without notifying you to that effect, unless you are our existing Subscriber. Such amendment shall come into force
						upon such amended Terms posted on our website.
						<br></br>

						5.2 Subject to any express agreement, the Terms form the one, entire and complete agreement between you and us relating to
						Our Services.
						<br></br>

						5.3 The headings and numbers used in the Terms are for your convenience and reference purpose of the provision only. No heading
						or number limits, defines, explains or interprets the meaning any part of the Terms.
						<br></br>

						5.4 If we fail or omit to enforce any right or avail any remedy provided in the Terms, any separate agreement or any applicable
						law, such failure or/and omission ("Omissions") shall not establish that we have waived such right or remedy permanently,
						nor shall Omissions deprive us to enforce the right or avail such remedy in the future.
						<br></br>

						5.5 You acknowledge that (a) we may assign the Terms to anyone at our sole discretion without any prior notification to you,
						and (b) you have no right to assign the Terms to third party.</p>
				</div>

				<div id="faqbox">
					<h3>6. Dispute Resolution, Governing Law, and Jurisdiction</h3>
					<p>6.1 All disputes arising from your use of Our Services or the Terms shall first be attempted to be determined our internal
						dispute resolution facility. If our facility fails to determine the dispute, the matter shall exclusively be determined
						by an independent arbitration appointed by American Arbitration Association ("AAA"). The venue of the arbitration shall
						be the City of Los Angeles, CA, USA. You hereby waive to participate in the class-wide-arbitration and lawsuit. The
						Terms shall be governed by the applicable laws of the State of California, USA.
						<br></br>

						6.2 Unless any other provision of rules, regulations and policy of PayPal states to the contrary, you consent not to dispute
						transaction made through PayPal unless our dispute resolution facility to consider your legitimate claims.</p>
				</div>

				<div id="faqbox">
					<h3>7. Copyrights and Infringements</h3>
					<p>7.1 We respect your copyrights and strictly adhere to the policy of non-infringement. We strongly believe that we are
						not in breach of your copyrights. If you have proof of our violation of your copyrights, please notify us as provided
						in the Section 512(c) (3) of the Digital Millennium Copyright Act (DMCA). We assure you of immediate resolution of
						the matter in question.</p>

				</div>

				<div id="faqbox">
					<h3>8. Intellectual Property Rights</h3>
					<p>8.1 You agree that Follows.com, its logos, service marks, trademarks, applications, tools, components, programs, content,
						images, graphics, designs, codes, structure, copyrights, patents and all or any intellectual property rights are our
						ownership under the laws of the USA and binding International Conventions.</p>
				</div>

				<div id="faqbox">
					<h3>9. Unauthorized Uses</h3>
					<p>9.1 You warrant and represent that you shall not resell, distribute or commercially exploit any of Our Services without
						our consent. You agree not to modify, alter, copy our website or content thereon or make derivative works based upon
						it. You further agree not to reverse engineer or use Our Services in carry out any commercial activity competitive
						to Follows.com.
						<br> 9.2 You warrant and represent that you will not introduce any script and automated program such as spiders, crawlers,
						robots, ants, worms, virus, indexes, bots or any program which burdens, interrupts, hinders performance and operation
						of or gets unauthorized access to our website.
						<br></br>

						9.3 You agree not to monitor or copy any content on our website without our express approval.
						<br></br>

						9.4 You shall not damage, interfere with, or disrupt any feature or part of Our Services or our host server, database, or
						any server associated with us.
						<br></br>

						9.5 You agree that you will not introduce Prohibited Content to our website and your Social Media Account.
						<br></br>

						9.6 You acknowledge that we reserve the right to take legal action in case of infringement of rights. You acknowledge that
						we reserve the rights that are not expressly claimed in the Terms.</p>
				</div>
				<div id="faqbox">
					<h3>10. Indemnification</h3>
					<p>
						10.1 You agree to defend, compensate, indemnify and hold us, our directors, staff members, agents, affiliates, assigns, contractors
						("Indemnified Parties") harmless against and from all claims, demands, lawsuits, judgments, damages, losses, liabilities,
						debts, expenses and costs including, without limitation, reasonable fees of legal professional representing Indemnified
						Parties in the court, arising out of your use of Our Services, Prohibited Content, content on your social media account,
						your breach of the Terms and any applicable law, your breach of third party rights or any dispute with a third party.
						This section of the Terms intends to survive the termination of the Terms.

					</p>
				</div>

				<div id="faqbox">
					<h3>11. Disclaimer</h3>
					<p>
						11.1 Notwithstanding anything in the terms or law to the contrary, our services are offered on the basis of "as they are"
						without any express or implied warranty.
						<br></br>

						11.2 Notwithstanding anything provided in the terms and to the permissible extent by the applicable law, we disclaim all
						or any express or implied representations, warranties or assurance that our services are accurate, current, smooth,
						complete, merchantable, suitable, free from any error, problem, virus, flaws, interruption, delay, faults and infringement.
						We disclaim any liability arising from any content on your social media account.
						<br></br>

						11.3 Force Majeure: We put our best efforts in the provision of Our Services and provide Our Services in accordance with
						the commitments we make with you. But certain events may make you and us fail to perform the obligations arising from
						the Terms that may include, without limitation, an act of God, earthquakes, floods, or similar natural disasters, accidents,
						labor disturbance, lock-outs, riots, war, cyber attacks, terrorist attacks, insurrection or any event that we cannot
						reasonably control in the given circumstances ("Events of Force Majeure"). You understand that the User and Follows.com
						shall not be liable for all or any breaches caused by any Events of Force Majeure. We may suspend Our Services during
						the course of the existence of the Events of Force Majeure. If any of the Events of Force Majeure exists for a longer
						period than thirty (30) days and the Social Media Marketing is suspended, the existing Subscriber shall have the right
						to terminate the Terms and may claim the repayment.

					</p>
				</div>
				<div id="faqbox">
					<h3>12. Extent of Liability</h3>
					<p>12.1 Our maximum aggregate legal responsibility arising from Our Services will in no circumstances exceed the original
						payment made to Follows.com by the existing Subscriber for Social Media Marketing, unless anything provided to the
						contrary in the Terms or any separate agreement.
						<br></br>

						12.2 All errors, typos and omissions in the Terms are excepted.
					</p>
				</div>

				<div id="faqbox">
					<h3>13. Severability</h3>
					<p>13.1 If any part of the Term is declared to be unfair, invalid, ineffective, unlawful, unenforceable, and void ("Invalid
						Term"), the remainder of the Terms, or the application of Invalid Terms to parties other than those to whom such application
						is declared to be ineffective, shall be fair, legal, valid, and effective to lawful extent.
					</p>
				</div>

				<div id="faqbox">
					<h3>14. Confidentiality</h3>
					<p>14.1 Parties to the Terms acknowledge that they may come to know the confidential information such as the business secret,
						business strategies, plans, and personal information of each other during the course of their business relationship
						and hereby agree not to disclose and reveal such confidential information to any third party without express permission
						of the disclosure, provided that such confidential information may be disclosed if requested by legitimate authorities
						or ordered by the competent court.
					</p>
				</div>

				<div id="faqbox">
					<h3>15. Inquiries</h3>
					<p>You may contact us for all queries, notifications, and communication in connection with Our Services at: Email: sales@follows.com
					</p>
				</div>

			</div>
			<!-- left page -->

			<div id="rightpage">
				<% include ./partials/scrolling-sidebar %>
			</div>
		</div>
		<!-- container2 -->

		<% include ./partials/footer %>

		<% include ./partials/sticky-sidebar-deps %>
		<% include ./partials/autolikes-banner-script %>

	</body>

</html>