<h1>Admin page</h1>

<a href="/dashboard/admin/shoutout/categories"><button>Categories</button></a>
<a href="/dashboard/admin/shoutout/languages"><button>Languages</button></a>
<a href="/dashboard/admin/shoutout/countries"><button>Countries</button></a>
<a href="/dashboard/admin/shoutout/ages"><button>Ages</button></a>
<a href="/dashboard/admin/shoutout/sexes"><button>Sexes</button></a>
<a href="/dashboard/admin/shoutout/activities"><button>Activities</button></a>