<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <link href="/img/favicon.png" rel="icon" type="image/png">

    <% include ../partials/global-scripts-css-load %>

    <!-- Load PayPal's checkout.js Library. -->
    <!-- <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn" async></script> -->
    <!-- Load the client component. -->
    <!-- <script src="https://js.braintreegateway.com/web/3.24.1/js/client.min.js" async></script> -->
    <!-- Load the PayPal Checkout component. -->
    <!-- <script src="https://js.braintreegateway.com/web/3.24.1/js/paypal-checkout.min.js" async></script> -->

</head>

<body>

    <!-- YouTube Modal -->
    <% include ../partials/youtube-modal %>

    <!-- Discord widget -->
    <% include ../partials/discord-widget %>

    <div id="top"></div>

    <div id="header2">

        <% include ../partials/nav %>
        <% include ../partials/nav-second %>

    </div>

    <div id="rainbow">
        <div id="worked-top">
            <div id="top-p2"></div>
            <div id="top-g"></div>
            <div id="top-y"></div>
            <div id="top-o"></div>
            <div id="top-r"></div>
        </div>
        <!-- worked-top -->
    </div>
    <!-- rainbow -->