<div id="secondnav">
    <div id="secondint">

        <div id="second-left">
            <a href="/twitter" class="twlink <% if (page === '/twitter') { %> navactive <% } %>">Twitter</a>
            <span class="navdiv"></span>
            <a href="/instagram" class="iglink <% if (page === '/instagram') { %> navactive <% } %>">Instagram</a>
            <span class="navdiv"></span>
            <a href="/facebook" class="fblink <% if (page === '/facebook') { %> navactive <% } %>">Facebook</a>
            <span class="navdiv"></span>
            <a href="/youtube" class="ytlink <% if (page === '/youtube') { %> navactive <% } %>">Youtube</a>
        </div>

        <div id="second-right">
            <a href="/contact" class="contactlink <% if (page === '/contact') { %> navactive <% } %>">Questions? Contact Us</a>
        </div>


    </div>
</div>