<div id="nav">
    <a class="logo" href="/"></a>
    <div id="nav-right">
        <a href="/">Home</a>
        <a href="/twitter">Pricing</a>
        <a href="/free-followers">Free Followers</a>
        <a href="/faq">FAQ</a>
        <a href="#" title="Coming soon!">Blog</a>
        <a href="#" title="Coming soon!">Shoutouts</a>
    </div>
</div>