<div id="worked-logos2">

    <div id="worked-top">
        <div id="top-p2"></div>
        <div id="top-g"></div>
        <div id="top-y"></div>
        <div id="top-o"></div>
        <div id="top-r"></div>
    </div>
    <!-- worked-top -->

    <span class="worked-title">We work with great companies:</span>
    <div id="logos2"></div>

</div>
<!-- worked logo -->