<% include ../partials/header %>

<div id="container-bg">

	<div id="container2">

		<% include ../partials/facebook/header %>

    <div id="pricing-code" class="pricing-code" style="margin-top:26px">
        <form class="order" role="form" action="" method="post">
          <div class="form-section">
            <h3>Facebook Page Likes: <span class="quantity">2,500</span> <span class="align-right price-container"><span class="price">$165</span> <span class="discount">(40% discount)</span></span></h3>
            <input class="quantity" type="hidden" name="data[quantity]" value="2500">
            <div class="quantity-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span></div>
          </div>
          <div class="form-section">
            <h3>Facebook Fan Page URL</h3>
            <input type="text" name="data[url]" placeholder="Enter your Facebook page link" value="">
          </div>
          <% include ../partials/form-payment %>
        </form>
    </div><!-- pricing code -->

    <% include ../partials/partners %>

    <div id="home-divider"></div>

    <div id="faq-spacer"></div>

       <div id="leftpage">

          <div id="faqbox">
            <h3>Are these real Facebook fans?</h3>
            <p>Yes, every person who likes your page will be a real human being with a complete profile. We have some of the highest quality Facebook marketing services on the web.</p>
          </div>

          <div id="faqbox">
            <h3>Which country will these fans be from?</h3>
            <p>It varies; they will be from a worldwide audience. We're unable to control which country these fans are from as ultimately, anybody who is interested in your page will like it; this is the nature of social media. If you absolutely must have fans from a certain country, Facebook Ads is the only solution that can guarantee fans from a specific country (though these are significantly more expensive than our services). It all depends on your goals and your budget.</p>
          </div>

          <div id="faqbox">
            <h3>How long will these "stick" for?</h3>
            <p>These will last on your page for life, guaranteed. If any of your likes drop off, we'll restore them free of charge. We have clients who have been with us for 5+ years and who still have their original fans that we helped them acquire. Our retention rate on our Facebook services are the highest in the industry.
            </p>
          </div>

          <div id="faqbox">
            <h3>What will the engagement and reach be like on these?</h3>
            <p>It varies quite a bit. We've seen some of our customers get fantastic engagement and traffic to their posts, and others get lower numbers. It helps if your content appeals to a broad audience (e.g. funny content) versus content that only a few people may find interesting (e.g. lawn care companies in Tennessee). Try to mix up your content and posting habits and your followers and fans will thank you for it.
            </p>
          </div>

       </div>

       <div id="rightpage">
          <% include ../partials/scrolling-sidebar %>
        </div>
      </div>
      <!-- container2 -->

  </div><!-- container bg -->

<% include ../partials/footer %>

<!-- FORM SLIDER -->
<% include ../partials/pricing-slider-deps %>
<script type="text/javascript">
    var determineSliderValues = [];
    for (var i = 250; i<=1000000; i+=50)
    {
      determineSliderValues.push(i);
    }
    var sliderValues = [250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2650, 2700, 2750, 2800, 2850, 2900, 2950, 3000, 3050, 3100, 3150, 3200, 3250, 3300, 3350, 3400, 3450, 3500, 3550, 3600, 3650, 3700, 3750, 3800, 3850, 3900, 3950, 4000, 4050, 4100, 4150, 4200, 4250, 4300, 4350, 4400, 4450, 4500, 4550, 4600, 4650, 4700, 4750, 4800, 4850, 4900, 4950, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000, 130000, 140000, 150000, 160000, 170000, 180000, 190000, 200000, 210000, 220000, 230000, 240000, 250000, 260000, 270000, 280000, 290000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 410000, 420000, 430000, 440000, 450000, 460000, 470000, 480000, 490000, 500000, 510000, 520000, 530000, 540000, 550000, 560000, 570000, 580000, 590000, 600000, 610000, 620000, 630000, 640000, 650000, 660000, 670000, 680000, 690000, 700000, 710000, 720000, 730000, 740000, 750000, 760000, 770000, 780000, 790000, 800000, 810000, 820000, 830000, 840000, 850000, 860000, 870000, 880000, 890000, 900000, 910000, 920000, 930000, 940000, 950000, 960000, 970000, 980000, 990000, 1000000];
    var discountValues = [ {quantity: 250, discount: 0.00}, {quantity: 1000, discount: 0.05}, {quantity: 2500, discount: 0.1}, {quantity: 5000, discount: 0.15}, {quantity: 10000, discount: 0.20}, {quantity: 25000, discount: 0.20}, {quantity: 50000, discount: 0.20}, {quantity: 100000, discount: 0.30}, {quantity: 250000, discount: 0.30}, {quantity: 500000, discount: 0.40}, {quantity: 1000000, discount: 0.60}];
    var defaultQuantity = 45;
    var price = 0.012;

    var itemName = "Facebook Likes";
    var itemDescription = "Likes";
    var category = "facebook";
    SLIDER.init([sliderValues, discountValues, defaultQuantity, price, itemName, itemDescription, category]);
    SLIDER.create();
</script>

<% include ../partials/payment-radio-controller %>
<% include ../partials/stripe-checkout %>
<% include ../partials/braintree-checkout %>

<% include ../partials/sticky-sidebar-deps %>
<% include ../partials/autolikes-banner-script %>

</body>
</html>