<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="/dashboard">Home</a></li>
    <li role="presentation"><a href="/dashboard/accounts">Accounts</a></li>
    <li role="presentation"><a href="#">Favorites</a></li>
    <li role="presentation"><a href="#">Orders</a></li>
    <li role="presentation"><a href="#">Balance</a></li>
    <li role="presentation"><a href="/dashboard/profile">Profile</a></li>
</ul>