<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="<% if (subpage === '/' ) { %> active <% } %>"><a href="/dashboard">Home</a></li>
    <li role="presentation" class="<% if (subpage === '/accounts') { %> active <% } %>"><a href="/dashboard/accounts">Accounts</a></li>
    <li role="presentation" class="<% if (subpage === '/favorites') { %> active <% } %>"><a href="#">Favorites</a></li>
    <li role="presentation" class="<% if (subpage === '/orders') { %> active <% } %>"><a href="/dashboard/orders">Orders</a></li>
    <li role="presentation" class="<% if (subpage === '/balance') { %> active <% } %>"><a href="#">Balance</a></li>
    <li role="presentation" class="<% if (subpage === '/profile') { %> active <% } %>"><a href="/dashboard/profile">Profile</a></li>
</ul>