<% include ../partials/header %>

<div id="container-bg">

	<div id="container2">

        <div id="faq-spacer"></div>

                <div class="content">

                    <div class="col-xs-12">

                        <h3 class="pagetitle">Add New Shoutout</h3>

                        <p class="lead">
                            You can offer a new shoutout from your unused accounts here.
                        </p>

                    </div>

                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12">
                        <form id="add-shoutout" name="add-shoutout" method="post" action="/shoutouts">

                            <div class="form-group">
                                <label for="account" class="control-label">Account</label><br>
                                <select name="account" class="form-control">
                                    <% accounts.forEach(function(account){ %>
                                        <% if(!account.Shoutout){ %>
                                            <option value="<%= account.id %>"><%= account.username %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description" class="control-label">Description</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Add</button>

                        </form>
                    </div>

                </div>

        </div>

	</div>
	<!-- container2 -->

  <% include ../partials/footer %>
  <% include ../partials/sticky-sidebar-deps %>

</body>
</html>