<% include ../../partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include ../../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div class="col-sm-12">

            <h3 class="pagetitle">
                Edit Your Review
            </h3>

            <p>
                Rate your experience with this seller.
            </p>

        </div>

        <br>

        <div class="col-sm-12">

            <form id="editshoutoutreview" name="editshoutoutreview" method="post" action="/shoutouts/<%= review.shoutout_id %>/review/?_method=PUT">

                <input id="reviewId" name="reviewId" type="hidden" value="<%= review.id %>">

                <div class="form-group">
                    <label for="username">Rating (1 worst, 5 best)</label><br>
                    <label class="radio-inline">
                        <input type="radio" name="reviewrating" id="inlineRadio1" value="1" <% if(review.rating == "1") { %> checked <% } %> required> 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="reviewrating" id="inlineRadio2" value="2" <% if(review.rating == "2") { %> checked <% } %> > 2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="reviewrating" id="inlineRadio3" value="3" <% if(review.rating == "3") { %> checked <% } %> > 3
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="reviewrating" id="inlineRadio4" value="4" <% if(review.rating == "4") { %> checked <% } %> > 4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="reviewrating" id="inlineRadio5" value="5" <% if(review.rating == "5") { %> checked <% } %> > 5
                    </label>
                </div>

                <div class="form-group">
                    <label for="reviewtext">Describe your experience</label><br>
                    <textarea name="reviewtext" rows="3"><%= review.text %></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Send</button>

            </form>

        </div>

	</div>
	<!-- container2 -->

    <% include ../../partials/footer %>

</body>
</html>