<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <link href="/img/favicon.png" rel="icon" type="image/png">

    <% include ../global-scripts-css-load %>

</head>

<body>

    <!-- YouTube Modal -->
    <% include ../youtube-modal %>

    <!-- Discord widget -->
    <% include ../discord-widget %>

    <div id="header">

        <% include ../nav %>
        <% include ../nav-second %>