<% include ./partials/header %>

<div id="container-bg">

	<div id="container2">

		<div id="faq-spacer"></div>

		<div id="leftpage">

			<h3 class="pagetitle">Frequently Asked Questions</h3>

		     	<div id="faqbox">
		     		<h3>Are these followers real people?</h3>
		     		<p>Yes. We work hard to keep the quality of our promotion high, and every follower you receive on your profile will be from a real human being who has liked your page on their own free will. Unlike our competitors, you won't receive a large amount of "egg" profiles or incomplete profiles, or from fake users.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Can I choose what country my followers are from?</h3>
		     		<p>It depends on the service. For Twitter followers, we have both Worldwide and USA-only Twitter follower services, but those are the only two country targeting parameters we offer at this time. Both Facebook and Instagram is Worldwide targeting. The people you get with these worldwide services will vary; all we can guarantee is the people liking your profile are interested in your content. These are generally a mixed/varied group of people from different countries.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Has my order started?</h3>
		     		<p>We start all orders within 24-48 hours. If you'd like to know an update on your order, please email us and we'll give you an instant update on where your order is. Please be patient with us; most of our campaigns take 1-3 weeks to complete, and can take a couple of days to get started.</p>
		     	</div>


		     	<div id="faqbox">
		     		<h3>What is your pricing?</h3>
		     		<p>We get asked this question a lot! All of our pricing can be seen on our pricing pages. Here's our <a href="/twitter">Twitter</a> services, our <a href="/instagram">Instagram</a> services, and our <a href="facebook">Facebook</a> services.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>How long until these will be delivered?</h3>
		     		<p>Most of our orders are done in less than a week, though larger orders can take 2-3 weeks. If you'd like a longer delivery time, just let us know after placing your order and we'll attach those instructions to your order for you. We can delay orders to "drip-feed" followers in most cases.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Can you split my order between multiple profiles?</h3>
		     		<p>No, we do not split orders unfortunately. You'll need to place several smaller orders.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Are these followers safe for my profile?</h3>
		     		<p>Yes. We've never had any issues with any of our clients pages being banned, blocked, or harmed in any way. In the rare event of having some followers removed or deleted, we'll replace them, free of charge (though this doesn't happen very often to our clients).</p>

		     	</div>

		     	<div id="faqbox">
		     		<h3>Will these followers come in all at once?</h3>
		     		<p>No, they will be evenly distributed and will come in naturally. If it's a small campaign, your followers will come in more quickly since it is a small order. However, we can drip-feed your order if you'd like it to be processed very slowly and organically.</p>
		     	</div>

		     	<div id="faqbox">
		     		<h3>Do you guarantee your services?</h3>
		     		<p>Yes, we guarantee all of our services for life. If any of your followers, likes, shares, tweets, favorites, reviews, or any other metric drops off after purchasing our services, we'll replace them free of charge. We take great care of our customers.</p>
		     	</div>


	    </div><!-- left page -->

		<div id="rightpage">
			<% include ./partials/scrolling-sidebar %>
		</div>
	</div>
	<!-- container2 -->

  <% include ./partials/footer %>

  <% include ./partials/sticky-sidebar-deps %>
  <% include ./partials/autolikes-banner-script %>

</body>
</html>