<% include partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include partials/dashboard/nav %>

        <div id="faq-spacer"></div>

                <div class="content">

                    <div class="col-xs-12">

                        <h3 class="pagetitle">Forgot Password</h3>

                        <p class="lead">
                            You can reset your password here if you forgot it.
                        </p>

                    </div>

                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12">
                        <form id="forgotpassword" name="forgotpassword" method="post" action="/dashboard/forgot">

                            <div class="form-group">
                                <div class="input-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter your email here">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Reset</button>
                                    </span>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

        </div>

	</div>
	<!-- container2 -->

  <% include partials/footer %>
  <% include partials/sticky-sidebar-deps %>

</body>
</html>