<% include ./partials/index/header %>

  <div id="stage1">

    <div id="stage1-inner">

      <h1>We help thousands of companies
        <br> grow their brand's social media following</h1>

      <div class="cta hvr-bounce-in">Start a campaign</div>

    </div>

    <div id="stage2-inner" style="display:none;">

      <div id="windows">

        <div id="window-container">
          <a href="/twitter" class="tw hvr-bounce-in"></a>
          <span class="window-title">Twitter Profile</span>

        </div>

        <div id="window-container">
          <a href="/instagram" class="ig hvr-bounce-in"></a>
          <span class="window-title">Instagram Profile</span>

        </div>

        <div id="window-container" style="margin-right:0px !important">
          <a href="/facebook" class="fb hvr-bounce-in"></a>
          <span class="window-title">Facebook Profile</span>

        </div>

      </div>

    </div>

  </div>

  <div ng-app="particles" class="ng-scope">
    <canvas class="canvas explosion ng-isolate-scope" particle="circle" count="500" speed="150" size="50" spawn="10" colors="['#8b9fbe']"
      width="1903" height="2903"></canvas>
  </div>

  </div>

  <div id="container-bg">

    <div id="container">

      <div id="container-l">

        <h1 class="container-leadin">Get more
          <span class="leadin-service">Twitter followers</span>
          <span class="typed-cursor">|</span>
        </h1>
        <p class="container-p">At Social Celebrity, we're experts at growing Twitter accounts by increasing the amount of real Twitter followers
          our clients have, as well as Instagram and Facebook followers. Best of all, all of our work is backed by a lifetime
          guarantee.
        </p>

      </div>

      <div id="twindow">
        <div class="number">
          <span data-col="0" data-topfinish="0" style="top: 0px;">5</span>
          <span data-col="1" data-topfinish="-30" style="top: -20.6312px;">2</span>
          <span data-col="2" data-topfinish="150" style="top: 103.156px;">5</span>
          <span data-col="1" data-topfinish="0" style="position: absolute; top: 9.36877px; left: 38.7656px;">3</span>
          <span data-col="2" data-topfinish="120" style="position: absolute; top: 73.1562px; left: 53.2188px;">4</span>
          <span data-col="2" data-topfinish="90" style="position: absolute; top: 43.1562px; left: 53.2188px;">3</span>
          <span data-col="2" data-topfinish="60" style="position: absolute; top: 13.1562px; left: 53.2188px;">2</span>
          <span data-col="2" data-topfinish="30" style="position: absolute; top: -16.8438px; left: 53.2188px;">1</span>
          <span data-col="2" data-topfinish="0" style="position: absolute; top: -46.8438px; left: 53.2188px;">0</span>
        </div>
      </div>

      <div id="sep"></div>

      <div id="section1">
        <h3 class="sectiontitle1">Plan</h3>
        <p class="sectionp">Before you place your order, decide your total goal number of followers and make sure your profile is visible and
          accessible to the public.</p>
      </div>

      <div id="section2">
        <h3 class="sectiontitle2">Order</h3>
        <p class="sectionp">Place your order! There's no right or wrong sized order; we help businesses of all size from mom and pop shops to
          Fortune 500 companies.</p>
      </div>

      <div id="section3">
        <h3 class="sectiontitle3">Assign</h3>
        <p class="sectionp">Once we've received your order, we'll assign it to a member of our team. It can take up to 24 hours for us to fully
          process your order.</p>
      </div>

      <div id="section4">
        <h3 class="sectiontitle4">Share</h3>
        <p class="sectionp">Once your order is processed, we'll begin sharing your profile and helping you get followers on your Twitter, Instagram,
          or Facebook.</p>
      </div>

      <div id="section5">
        <h3 class="sectiontitle5">Repeat</h3>
        <p class="sectionp">Order complete! Place additional orders to keep growing your Twitter profile, or order new campaigns for your Instagram
          or Facebook profiles.</p>
      </div>


      <div id="home-divider"></div>


      <div id="content-left">

        <h2 class="leadin2">Reasons to buy followers</h2>

        <div id="content-truncate" data-readmore="" aria-expanded="false" style="max-height: none; height: 496px;">

          <p class="contentp">At Social Celebrity, we specialize in Social Media marketing and enhancement by increasing the amount of real followers
            our clients have, as well as growing their Facebook, Twitter, Youtube, and Instagram presence. All of our work
            is backed by a lifetime guarantee. Here's why you should grow your accounts with us:</p>

          <strong>#1 - Promote to a wider audience</strong>
          <p class="contentp2">This one almost goes without saying, but when you have a significant following, more people will be seeing your
            tweets and status updates, which means more clickthroughs, more engagement, and more eyes on your content.</p>

          <strong>#2 - People follow accounts with followers</strong>
          <p class="contentp2">The crowd-effect is a true psychological phenomena. When your visitors see that your pages have thousands of followers,
            they will be more likely to become a follower of your page as well than if you had very few fans.</p>

          <strong>#3 - Balance your follower/following ratio</strong>
          <p class="contentp2">When people first start their accounts, they follow thousands of people in hopes that most of those people will
            follow them back, which would in turn grow their profile. However, nobody wants a profile where they are following
            a significant amount of people with few people following them back. We can help offset that number to increase
            the number of people following you.
          </p>

          <strong>#4 - Work towards getting a verified profile</strong>
          <p class="contentp2">When you have a large enough page or profile and become influential, you have a chance at getting a verified profile,
            which means a little checkmark will appear next to your name to show you have a verified account. This is generally
            reserved for celebrities and large organizations, but having a very large page can help you become verified (we
            have helped hundreds of our own clients become verified).
          </p>

          <strong>#5 - Cultivate social proof</strong>
          <p class="contentp2">If your customer was researching your business and stumbled across your Twitter, Instagram, and Facebook pages,
            only to see you have less than 100 fans on each page, what if you were to lose that fan because they saw that
            you may not be trustworthy or reputable enough? Having more followers helps build social proof, which is a useful
            sales tool in itself.
          </p>

          <strong>#6 - Increase the value of your business</strong>
          <p class="contentp2">Simply put, having a large Twitter, Instagram, and Facebook following is valuable. If you have a website with accounts
            tied to it, that website will sell for more if it comes with established social media accounts. Some ad networks,
            such as BuySellAds.com, will even let you sell Tweets on your Twitter account to advertisers if you have a large
            following. Some of our customers make thousands per month doing this.
          </p>

          <div class="fadeout"></div>

        </div>
        <a href="#" data-readmore-toggle="" aria-controls="content-truncate">Read more</a>
        <!-- content-truncate -->

      </div>
      <!-- content-left -->

      <div id="content-right">

        <h2 class="leadin2">Instagram followers</h2>

        <p class="contentp3">We don't just specialize in Twitter followers; we work with Instagram too. Let us help you increase your Instagram
          followers and grow a powerful presence that will serve as a marketing tool for years to come.</p>
        <a href="/instagram/followers" class="cta2">See pricing</a>

        <h2 class="leadin3">Facebook followers</h2>

        <p class="contentp3">For personal Facebook profiles that have the "Follow" feature enabled, we can help significantly grow the amount
          of people following you.</p>
        <a href="/facebook/followers" class="cta2">See pricing</a>


      </div>

      <div id="sep"></div>

      <% include ./partials/partners %>

      <div id="sep"></div>

      <div id="customers">

        <span class="customers-title">Our customers</span>

        <div id="button" class="home-slider">
          <a class="button1 activebtn" rel="1" href="javascript:void(0)"></a>
          <a class="button2" rel="2" href="javascript:void(0)"></a>
          <a class="button3" rel="3" href="javascript:void(0)"></a>
          <a class="button4" rel="4" href="javascript:void(0)"></a>
          <a class="button5" rel="5" href="javascript:void(0)"></a>
          <a class="button6" rel="6" href="javascript:void(0)"></a>
        </div>
        <!-- button -->

        <div class="clear"></div>

        <div id="myslide">

          <div class="cover">

            <div class="mystuff">
              <p class="testimonial">"Great work guys. I have many other clients that would love this service and I am sure we will be doing business
                together for a long time. The quick delivery and you overdelivering on what we purchased was appreciated
                by our team and our client. Thank you!"</p>
            </div>

            <div class="mystuff">
              <p class="testimonial">"I've tried some of your competitors but never had nearly the same effect your services had on my pages.
                We've already seen a big difference in our engagement and traffic to the links we post from the first few
                campaigns we've ran. It's like night and day."</p>
            </div>

            <div class="mystuff">
              <p class="testimonial">"Thank you James for all of your help, it's great to know that you are there to oversee our campaign and
                make sure everything is running smoothly. It means a lot to us and our team, and it has certainly earned
                our repeat business. Keep up the great work."</p>
            </div>

            <div class="mystuff">
              <p class="testimonial">"How are these other Twitter follower companies still in business when you guys are around? These followers
                are very high quality, no low quality egg accounts or spammy followers that hurt my account. I wish I had
                found you years ago, it would have saved me a lot of money."</p>
            </div>

            <div class="mystuff">
              <p class="testimonial">"The work you guys have done with this test campaign is already making a difference. We received a lot of
                followers the past few weeks and we're seeing more activity on each of our new tweets, which is great.
                If this continues we'll certainly buy a bigger package in the future."</p>
            </div>

            <div class="mystuff">
              <p class="testimonial">"Very impressed with the service so far, we've reached our goal with weeks to spare and everybody is happy.
                We appreciate the positive results, as well as the prompt communication from your team. We're so glad we
                found you, and as always we appreciate the VIP attention!"</p>
            </div>


          </div>
          <!-- end of div cover -->
        </div>
        <!-- end of div myslide -->

      </div>
      <!-- customers -->


      <div id="latest-blog">
        <span class="latest-title">Our latest article</span>
        <a href="http://follows.com/blog/2017/08/how-tweets-safe-day">How Many Tweets Can You Safely Like Per Day?</a>
        <p>A million. A billion. I don’t know, why would it even occur to anyone to ask this question? I know Twitter has
          some odd limitations, b…</p>

      </div>
      <!-- latest blog -->

    </div>
    <!-- container -->

    <% include ./partials/footer %>

  </div>
  <!-- container bg -->

  <script>
    $.preloadImages = function () {
      for (var i = 0; i < arguments.length; i++) {
        $("<img />").attr("src", arguments[i]);
      }
    }
    $.preloadImages("img/tw.png", "/img/fb.png", "/img/ig.png", "/img/windows.png");
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="/inc/typed.js"></script>
  <script src="/inc/readmore.js"></script>
  <script src="/inc/follows.js"></script>


  </body>
  </html>