<% include partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include partials/dashboard/nav %>

        <div id="faq-spacer"></div>

                <div class="content">

                    <div class="col-xs-12">

                        <h3 class="pagetitle">Reset Password</h3>

                        <p class="lead">
                            Enter your new password for your account.
                        </p>

                    </div>

                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12">
                        <form id="resetpassword" name="resetpassword" method="post" action="/dashboard/profile/reset/<%= token %>">

                            <div class="form-group">
                                <div class="input-group">
                                    <label for="newpassword">New Password</label>
                                    <input type="password" class="form-control" name="newpassword">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <label for="confirmpassword">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirmpassword">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-lg">Update</button>

                        </form>
                    </div>

                </div>

        </div>

	</div>
	<!-- container2 -->

  <% include partials/footer %>
  <% include partials/sticky-sidebar-deps %>

</body>
</html>