<% include ../../partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include ../../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div class="content">

            Balance is for the weak

        </div>

    </div>
	<!-- container2 -->

  <% include ../../partials/footer %>
  <% include ../../partials/sticky-sidebar-deps %>

</body>
</html>
